@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal; 
}

html {
  overflow-x: hidden;
}
body {
  background-color:  #FDF2F2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
div {
  display: block;
}
body div#start {
  margin:0 auto;
  border-left: 3px solid #f1f1f1;
  border-right: 3px solid #f1f1f1;
  background-color: #fff; 
  width: 90%; 
  height: 100%;
  padding: 1em 2em 0em 2em;
}
a {
	color: green;
}
a:hover {
  text-decoration: none;
}
ul {
  margin-top: 20px;
  list-style-type: none;
  height: 120px;
}
ul li {
  float: left;
  margin-left: 20px;
}
small {
  color:grey; 
  display: block;
}
h3 {
  font-family: Merriweather, segoe ui, Geneva, georgia;
  font-weight:bold;
  text-align:center;
}
h5 {
  font-family: 'ralewaymedium', sans-serif;
  color:brown;
}
h6 {
  font-size: 100%;
  text-align:center;
} 
.tops {
  margin-top: 37px;
  font-family: 'ralewaymedium', segoe ui, Geneva;
  text-align:center;
}  
.social {
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}
.social:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
#footer { 
  position: relative;
  padding:2em;
  text-align: center;
  border-left: 3px solid #f1f1f1;
  border-right: 3px solid #f1f1f1;
  background-color: #fff;
  width: 90%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}
.adeptus {
  font-family: 'ralewaymedium', segoe ui; times; 
}
#download {
  cursor: pointer;
  display: block;
}
.btn {
  display: block;
  margin: 12px auto;
  font-weight: bold;
  color: green;
} 
.btn[disabled] {
    background-color: #ccc;
    color: black;
}
input#file {
  margin: 0 auto;
  background-color: #fff;
  margin-top: 40px;
  font-size: 16px;
}
.selected {
  color: #2498DC; 
  background-color: #FBD2B0;
}

ul li button {
  background-color: #CCCCCC;
}

@media only screen and (max-width: 720px) {
  body div#start {
    padding: 0;
    width: 100%;
  }
  #footer {
    width: 100%;
  }
  ul {
    height: 200px;
  }
}