@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  overflow-x: hidden;
}
body {
  background-color:  #FDF2F2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
div {
  display: block;
}
a {
	color: #fff;
}
a:hover {
  text-decoration: none;
}
ul {
}
ul li {
}
small {
  color:grey;
  display: block;
}
h3 {
  font-family: Segoe ui, 'ralewaymedium', Geneva, georgia;
  font-weight:bold;
  text-align:center;
}
h5 {
  font-family: 'ralewaymedium', sans-serif;
  color:brown;
}
h6 {
  font-size: 100%;
  text-align:center;
}
.tops {
  margin-top: 37px;
  font-family: 'ralewaymedium', segoe ui, Geneva;
  text-align:center;
}
.social {
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}
.social:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
.adeptus {
  font-family: 'ralewaymedium', segoe ui; times;
}
#download {
  cursor: pointer;
  display: block;
    padding: 0 1.5rem;
}
.btn {
  display: block;
  margin: 0px auto;
  font-weight: bold;
  color: #fff;
}
.btn[disabled] {
    background-color: #ccc;
    color: black;
}
#dlbtn {
    padding: 0 0;
}

input#file {
  font-size: 16px;
}
.selected {
  color: #dc972d;
  background-color: #FBD2B0;
}

ul li button {
  background-color: #CCCCCC;
}
ul.filters {
    text-align: center;
}
ul.filters li {
    display: inline-block;
    margin: 6px 2px;
}

nav .nav-wrapper {
    padding: 0 20px;
}

form {
    margin: 0 auto;
    width: 280px;
}

.main {
    flex: 1 0 auto;
}

.upload-btn {
    background: #8a49de;
}

@media only screen and (max-width: 720px) {
    .brand-logo {
        font-size: 18px !important;
    }
}
